.slider-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto 40px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-image {
    width: 100%;
    flex-shrink: 0;
    display: none;
}

.slider-nav {
    text-align: center;
    margin-top: 10px;
}

.slider-nav button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

.slider-image.active {
    display: block;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.products > div{
    width: 20%;

}

.products > div img{
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
}
.dark{
    background-color: #222;
    color: aliceblue;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
header.logo{
    text-decoration: none;
    color: inherit;
    padding: 10px 16px;

}
nav a{
    text-align: none;
    color: inherit;
    padding: 10px 16px;
}
main{
    padding: 20PX 60px;
}

.mobile-menu{
    display: none;
}
@media(max-width:768px){
    header{
        padding:18px ;
    }
    .mobile-menu{
        display: inline;
    }
    .main-nav{
    display: none;
}
.main-nav.visible{
    display: block;
    position: fixed;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    background-color: beige;
    color: #222;
    

}
.main-nav.visible a {
    display: block;
    text-align: right;
}
}
